<header>
  <title><%= title %> | Community Portal</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <nav>
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>