<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Community Portal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.jpg">
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/about">About</a> |
      <a href="/events">Events</a> | <a href="/contact">Contact</a>
          <!-- <nav>
        <ul>
            <li><a href="/about">About</a></li>
        </ul>
    </nav> -->

    </nav>
  </body>
</html>
