<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="icon" type="image/png" href="/images/err.png">
</head>
<body>
    <img src="/images/err.png" alt="err">
    <p>Oops, page not found.</p>
    <p>The page you are looking for does not exist.</p>
    <h1><a href="/">Return to homepage?</a></h1>
=======
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="error-section">
            <h1>404</h1>
            <p>Oops! The page you're looking for doesn't exist.</p>
            <a href="/" class="form-button">Go Back to Home</a>
        </section>
    </main>
    <%- include('../partials/footer') %>
>>>>>>> 835769c5a4a2f8262069305eb5989af30968130c
</body>
</html>