<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Community Portal</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/favicon.jpg">
</head>
<body>
    <h1>THANK YOU! <%= name %></h1>
    <p>Thank you for submitting your request using our form. We'll respond so very promptly.</p>
    <button>
        <a href="/">Return to the HomePage?</a>
    </button>
    <p>&copy; <%= new Date().getFullYear() %> Community Portal.</p>
    <p>
        <%= title %> Page
    </p>
</body>
</html>