<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Community </title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="thank-you-section">
            <h2>Thank You! <%= name %></h2>
            <p>Your message has been successfully sent. We will get back to you shortly.</p>
            <a href="/" class="form-button">Go Back to Home</a>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>